.row
    .col.form-group
        label(for="first-name-field" class="col-form-label") First name
        input(type="text" class="form control" id="first-name-field" value=firstName)
    .col.form-group
        label(for="last-name-field" class="col-form-label") Last name
        input(type="text" class="form control" id="last-name-field" value=secondName)
.row.col.form-group
    label(for="address-field" class="col-form-label") Address
    input(type="text" class="form control" id="address-field" value=address)
.row.col.form-group
    label(for="phone-field" class="col-form-label") Phone number
    input(type="text" class="form control" id="phone-field" value=phone)
.row.col.form-group
    label(for="email-field" class="col-form-label") Email address
    input(type="text" class="form control" id="email-field" value=email)

